name: Release

on:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
      release_created: ${{ steps.release.outputs.release_created }}

  publish:
    needs: check

    if: ${{ needs.check.outputs.release_created }}

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - uses: rubygems/release-gem@v1

  compile:
    needs: check

    if: ${{ needs.check.outputs.release_created }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        ruby: ["3.4"]
        os: ["ubuntu-latest", "macos-latest"]

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: "1.89"
      - name: Install dependencies
        run: bundle install
      - name: Cache crate
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ hashFiles('**/Cargo.lock') }}-ruby-${{ matrix.ruby }}-os-${{ matrix.os }}
      - name: Build crate
        run: bundle exec rake build
      - name: Create tarball
        run: bundle exec rake thermite:tarball
      - name: Upload to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.check.outputs.tag_name }}
          files: tantiny-*.tar.gz
      - name: Try installing without Cargo
        run: |
          gem uninstall tantiny
          CARGO=fake gem install tantiny
